/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.jumbotron{

	height: 400Px;
	padding: 50px 0px;
	text-align: center;
	border-bottom: #ccc 1px solid;
	margin-bottom: 20px;
	color: #fff;
	background: url("../img/jumbotron.jpg") no-repeat top center;
}
